<!doctype html>
<html>
<!–[if IE 7 ]> <html lang="en" class="ie7"> <![endif]–> 
<!–[if IE 8 ]> <html lang="en" class="ie8"> <![endif]–> 
<!–[if IE 9 ]> <html lang="en" class="ie9"> <![endif]–> 
<!–[if (gt IE 9)|!(IE)]><!–> <html lang="en"> <!–<![endif]–> 
  
  <head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title> Les Plans </title>
        <link href="/assets/css/reset.css" rel="stylesheet" type="text/css">
		<link href="/assets/css/style.css" rel="stylesheet" type="text/css">
	</head>

  <body>
  
    <div id="app">
    </div>
  
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/mustache.js"></script>
    <script src="/assets/js/Helper.js"></script>
    <script src="/assets/js/Page.js"></script>
    <script src="/assets/js/Client.js"></script>
    <script src="/assets/js/Partial.js"></script>
  </body>
</html>